<div class="row-fluid fixed">
                <div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li class="active">
                            <a href="index.html"><i class="icon-chevron-right"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><span class="badge badge-important pull-right"><%= Case.count(:all) %></span> Cases</a>
                        </li>
                        <li>
                            <a href="#"><span class="badge badge-success pull-right">731</span> Clients</a>
                        </li>
                        <li>
                            <a href="#"><span class="badge badge-info pull-right">27</span> Lawyers</a>
                        </li>
                         <li>
                            <a href="#"><span class="badge badge-warning pull-right">4,231</span> Employees</a>
                        </li>                
                        <li>
                            <a href="#"><i class="icon-chevron-right"></i> Tools</a>
                        </li>
                    </ul>
                </div>
                
                <!--/span-->
                